# This is an example file of environment variables. You need to rename/copy this file to .env file.

# Project name
APP_NAME=project_name

# Django variables
SECRET_KEY=^qm@58htqnw_iv!v+1t(n0a40^$3-4nv5g@5$q32rkyid+ni^$
DEBUG=False # `True` for make debug enabled.

# PostgreSQL variables
DB_NAME=django_db
DB_USER=postgres
DB_PASS=postgres
DB_SERVICE=postgres
DB_PORT=5432

# Docker compose variables
COMPOSE_PROJECT_NAME=djangoproject